bin/
chapter1/kthw-lab
chapter1/kthw-lab.pub
.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
chapter3/pki/**/*-key.pem
chapter3/encryption/keys/
chapter3/encryption/encryption-config.yaml
**/*.pem
chapter4/pki/**/*-key.pem
chapter5/artifacts/
chapter5/bin/
chapter5/pki/
*.kubeconfig
